.body,
html {
  background-color: #0D0D0D;
  /* color: white; */
  min-height: 100vh !important;
}

html {
  background-image: url('./assets/Decorations.svg');
  background-repeat: no-repeat;
  background-position: calc(50% + -80px) calc(50% + 10px);
  position: relative;
  z-index: 0;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
  /* Adjust width of the scrollbar */
  height: 8px;
  /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Dark mode thumb color */
  border-radius: 4px;
  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  /* Dark mode thumb hover color */
}

::-webkit-scrollbar-track {

  /* Dark mode track background */
  border-radius: 4px;
        background: linear-gradient(360deg, rgba(17, 17, 17, 0.4) 31.67%, #242a20 100%);
  /* Rounded corners for the track */
}

::-webkit-scrollbar-track-piece {
  // background-color: #333;
        background: linear-gradient(360deg, #151615 31.67%, #242a20 100%);
    border-radius: 4px;
  /* Dark mode inner track piece */
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html .btn {
  border: 0.92px solid var(--border);
  border-radius: 20px;
  width: 290px;
  min-height: 68px;
  height: 68px;
  box-shadow: 0 5px 6px 3px rgba(0, 0, 0, 0.11);
  background: #1b1b1b;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary);
  text-transform: inherit;


  &:hover {
    background: #121212;
  }
}