body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fff;
  --secondary: #A0A0A0;
  --accent:#64FF86;
  --border: #282828;
}

.accent{
  color:#64FF86;
}